body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --pane-width: 100px;
}

.app {
  display: flex;
  justify-content: center;
}

.panes-container {
  aspect-ratio: 7/5;
  position: relative;
  height: 80vh;
  margin-top: 3%;
}

@keyframes spinning {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}

.pane {
  position: absolute;
  transform-style: preserve-3d;
  animation: spinning 10s linear infinite;
  perspective: 1000px;
  transform-origin: 0;
  width: 0;
  height: 0;
}

.pane-panel {
  position: absolute;
  aspect-ratio: 1/1;
  width: var(--pane-width);
  border: 1px solid #000;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  display: block;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

.pane-front .bg-holder {
  position: absolute;
  backface-visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: rotateZ(0deg);
  display: block;
  transform-style: preserve-3d;
}

.pane-back .bg-holder {
  position: absolute;
  background-position: center;
  backface-visibility: hidden;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: rotateZ(0deg);
  display: block;
  transform-style: preserve-3d;
  color: #fff;
}

.pane-back {
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg) rotateY(180deg);
}

.col-A {
  left: 7.14285714286%;
}

.col-B {
  left: 14.2857142857%;
}

.col-C {
  left: 21.4285714286%;
}

.col-D {
  left: 28.5714285714%;
}

.col-E {
  left: 35.7142857143%;
}

.col-F {
  left: 42.8571428572%;
}

.col-G {
  left: 50%;
}

.col-H {
  left: 57.1428571429%;
}

.col-I {
  left: 64.2857142857%;
}

.col-J {
  left: 71.4285714286%;
}

.col-K {
  left: 78.5714285715%;
}

.col-L {
  left: 85.7142857143%;
}

.col-M {
  left: 92.8571428572%;
}

.row-1 {
  top: 10%;
}

.row-3 {
  top: 30%;
}

.row-4 {
  top: 40%;
}

.row-5 {
  top: 50%;
}

.row-6 {
  top: 60%;
}

.row-7 {
  top: 70%;
}

.row-2 {
  top: 20%;
}

.row-8 {
  top: 80%;
}

.row-9 {
  top: 90%;
}

.progress-bar {
  height: 5px;
  background: green;
  margin-top: 20px;
}

.img-menu {
  position: absolute;
  bottom: 0;
  height: var(--pane-width);
  display: flex;
}

.img-wrap {
  overflow: hidden;
  aspect-ratio: 1/1;
  width: var(--pane-width);
  background-size: cover;
}

#file-upload {
  display: none;
}

.file-upload {
  width: var(--pane-width);
  aspect-ratio: 1/1;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
}

.file-upload .bi-plus-lg {
  width: 80%;
}

.output {
  position: absolute;
}